@page "/counter"

<h1>Counter</h1>

<p> <Tooltip Text="<em>This is a tooltip.</em>">Current</Tooltip>  count: @currentCount</p>
<Tooltip Text="@message">
    <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
</Tooltip>


@code {
    private int currentCount = 0;
    private string message = "Click on the button to increment";
    private void IncrementCount()
    {
        currentCount++;
        message = currentCount.ToString();
    }
}
